header {
    position: fixed;
    width: 100%;

    z-index: 99;

    nav.socials-bar {
        position: relative;
        height: 40px;
        background-color: rgba(45, 52, 54, .8);

        display: flex;
        justify-content: end;
        align-items: center;
        padding-right: 15px;
        img.icon {
            width: 25px; height: 25px;
            margin: 5px;
        }
    
        img.icon:hover {
            animation: hoverIcon 0.3s;
        }
    }
}

@keyframes hoverIcon {
    from {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-4px);
    }
    to {
        transform: translateY(2px);
    }
}